#content{
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px ); // min(100%, 22rem)
    grid-auto-rows: 300px; //quiero investigarlo

    @media screen and (max-width: 1400px) {
        aside{
            display: none;
        }
    }


    .featured{
        grid-column: span 2;
    }
    main{
        border-right: 1px solid rgb(202, 202, 202);
        min-height: 100vh;
    }
    aside{
        min-height: 100vh;
    }
}
