a{
    color: #108ce5;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
    &.profile-name{
        font-weight: bolder;
        color: black;
    }
    &.user-name{
        color: grey;
        &:hover{
            text-decoration: none;
        }
    }
    &.tweet-time{
        color: grey;
    }
}