@import './mixins';
#superior-band{
    position: sticky;
    top: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.5px solid rgb(202, 202, 202);
    padding: 0 0.5rem;
    background-color: white;
    h1{
        margin: 0px;
        font-size: 14px;
    }
    button{
        @include mi-boton-redondo;
    }
}
